{% load static %}
<div class="row p-3">
    <div class="col-md-4">
        <h5>Address</h5>
        2nd Floor, Landmark building,<br>
        Near FC College,<br>
        Pune-411002,<br>
        Maharashtra,<br>
        contact-8756454
    </div>
    <div class="col-md-4">
        <h5>Quick links</h5>
        <a href="index.html" class="anchor"><b>Home</b></a><br>
        <a href="About.html" class="anchor"><b>About</b></a><br>
        <a href="contact.html" class="anchor"><b>Contact</b></a><br>
    </div>
    <div class="col-md-4">
        <h5>Contact US</h5>
        <h5><a href="#"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="#"><i class="bi bi-instagram"></i></a></h5>
        <h5><a href="#"></a><i class="bi bi-twitter-x"></i></h5>
        
    </div>
</div><!--3rd row end or footer section end-->
</div>



<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
</body>
</html>